<%= semantic_form_for @video,:html => {:multipart => true} do |form| %>
  <%= form.inputs do %>
    <%= form.input :title %>
    <%= form.input :person_id,:as => :hidden,:input_html => {  :value => current_person.id } %>
    <%= form.input :description,  :input_html => { :class => 'autogrow', :rows => 10  }%>
    <%= form.input :category, :as => :select,  :collection => Category.select('distinct name').map { |c| c.name } %>
    <a id = "button_add_category" href="#category_form">Add New Category</a>
    <%= form.input :path,:as =>:file%>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
