<h1><%= @video.title %></h1>
<!-- Begin VideoJS -->
 <div class="video-js-box">
   <video id="show_video" class="video-js" width="750" controls="controls" preload="auto"  >
     <source src='<%= "#{@video.path}" %>' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
   </video>
 </div>
 <!-- End VideoJS -->
<h3>





</h3>
<div id= "video_description">
    <em><%= @video.description %></em>
</div>

  Average: <%= ratings_for @video, :static %></br>
  Your Rating: <%= ratings_for @video, current_person, :show_user_rating => true %>

  <h2>Video Reviews</h2>

<div id="review_notice">
    <% if @reviews.count < 1 %>
        <h3> No Reviews Yet, Be the first one to Review </h3>
    <% end %>

    <% if auth_review? %>
        <%= render 'reviews/form' %>
    <% elsif %>
        <i><b><%= "You Got To Login if You Want to Make a Review & Get Points... " %></b></i>
        <%= link_to "Yes, I Want", person_session_path %>
    <% end %>
</div>

<% @reviews.each do |review| %>
    <div class="video_review">
    <%= review.content %> <br />
    By:<%= id2person("#{review.person_id}") %> </br>
    </div>
<% end %>
<hr />